
html, body {
	height: 100%;
}

#map {
	height: 100%;
}


header {
	padding: 20px 10px;	
}


#title {
	font-family: 'Amatic SC', cursive;
	font-size: 94px;
	white-space: nowrap;
}

@media (max-width: 1700px) {
	#title {
		font-size: 58px;
	}
}

#input {
	padding: 0 0 20px 0;
}

.list-group-item {
	margin: 2px 0;
}